{% extends "base.html" %}
{% block content %}

<body>
	<h1> Log In</h1>
		

	<form method="post" action="" novalidate>
		{{ form.hidden_tag() }}
	<p>{{form.user_name.label}}
		{{form.user_name(size=32)}}
	</p>
	<p>{{form.pass_word.label}}
		{{form.pass_word(size=32)}}
	</p>
	<p>{{form.remember_me.label}}
        {{form.remember_me()}}
    </p>
	<p>
		{{form.log_in()}}
	</p>
    </form>

    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <p> {{ messages }}</p>
    {% endif %}

    {% endwith %}
</body>
{% endblock %}