{% extends "base.html" %}
{% block content %}
<html>
    <body>
        <a href="javascript:history.back()">
        <form method="post" action="">
            UserName <input type=text name="HTML_input_city"> <br>
        
            Password <input type=text name="HTML_input_rank"> <br>
            
            Remember me <input type=checkbox name="HTML_input_visit"> <br>
    
            Submit <input type=submit value="Submit">
        </form>
        <a href="javascript:history.back()">
        
    </body>
</html>

{% endblock %}
<html>
    <head>
        <title>second</title>
    </head>
<body>
    <a href="javascript:history.back()">
        <form method="post" action="">
            UserName <input type=text name="HTML_input_city"> <br>
        
            Password <input type=text name="HTML_input_rank"> <br>
            
            Remember me <input type=checkbox name="HTML_input_visit"> <br>
    
            Submit <input type=submit value="Submit">
        </form>
    
    <h1>this is my second</h1>
    <a href="login.html"> click </a>
</body>
</html>