{% extends "base.html" %}
{% block content %}
    <body>
        <h2>Welcome, {{ current_user.username }}! </h2>
        
        <p>Finalize your settings.</p>
        <br><br>
        <img src = "https://cdn0.iconfinder.com/data/icons/travel-isometric/512/sim1555-512.png" height = "400"></img>
        <br>
        <p>Here, you can make/fix/finalize your settings.<br>
        <p>Depending on your settings, we can find restaurants near you!</p>
    <br>
    
    <form action="" method="post">
    <p>
        {{ form.location.label }}<br>
        {{ form.location(size=32) }}<br>
    </p>
    <p>
        {{ form.distance.label }}<br>
        {{ form.distance() }}<br>
    </p>
    <p>{{ form.save_settings() }} {{ form.save_settings.label }}</p>
    <p>{{ form.con_tinue() }}</p>
    </form>
</p>
</body>
{% endblock %}
