{% extends "base.html" %}
{% block content %}
<html>
    <center>
    <title> Select Order </title>
    <p style = "font-family:sans-serif, helvetica; font-style: italic;">

    <body>
        <h1 id = "top"><font color = "#3b5998">List of food</font></h1>
        
        <img src = "https://static.wixstatic.com/media/5dc6ff_f95f8821aa16408cbb679aa65c780cbd~mv2_d_4838_3113_s_4_2.jpg/v1/crop/x_0,y_2,w_4838,h_3108/fill/w_1144,h_735,al_c,q_85,usm_0.66_1.00_0.01/Myron%20Mixon_July%20Menu%20Updated%2011_28_182_.webp" height = "200"></img>
        
        <p>In your requested location, these are available options:</p>
        
        <h2 id = "campus_food"><font color = "#3b5998">LET MAKE YOUR ORDER</font></a></h2>
            <p> The options on the SJSU campus are:</p>
            <a href = "https://www.pandaexpress.com/menu?utm_source=adwords&utm_medium=Search&utm_campaign=alwayson&gclid=Cj0KCQjw9fntBRCGARIsAGjFq5Ez5jIVAH_Gy-K_sM8R12nQTcD9NoVjeF438PsuLi_qqChVdhrctVsaAgzAEALw_wcB">Panda Express</a> <br>
            <a href = "https://www.subway.com/en-us/menunutrition?gclsrc=aw.ds&gclid=Cj0KCQjw9fntBRCGARIsAGjFq5H-Iosg0TMsU5Ar0BO09xLJgp89lmvymSk7OTI78an3M3c0slP52WQaAmbHEALw_wcB&gclsrc=aw.ds#">Subway </a> <br>
            <a href = "https://www.jamba.com/menu?gclid=Cj0KCQjw9fntBRCGARIsAGjFq5Fs7mW81HbSQfWyIYSWVMhaIpPcrXpg3Mff00DFuL8yNACBwey-w2EaAlqnEALw_wcB"> Jamba Juice </a> <br>
            <a href = "https://www.steaknshake.com/menu_specials/garlic-double-steakburger/"> Steak n Shake</a> <br>
            <a href = "https://www.tacobell.com/food"> Taco Bell</a> <br>
            <a href = "https://www.dominos.com/en/pages/order/menu?utm_campaign=69797310%7cc%7cGG&utm_source=Google&utm_medium=p_search&utm_content=kwd-11625411%7c69797310%7c21814069350&utm_term=pizza&matchtype=b&gclid=Cj0KCQjw9fntBRCGARIsAGjFq5E-PRfNaI1saKN86j1C9zS-3UQEu6vUBvnCDHo2W9fBFOLw4WawKxcaAhL5EALw_wcB#/menu/category/all/"> Domino Pizza</a> <br>
    </body>
</html>
{% endblock %}