{% extends "base.html" %}
{% block content %}
<html>
    <center>
        <div id = "white">
    <title> Select Order </title>
    <link href = "css/style.css" type = "text/css" rel = "stylesheet"/>
    <p style = "font-family:sans-serif, helvetica; font-style: italic;">

    <body>
        <h2>Categories of Food</h2>
        
        <img src = "https://image.freepik.com/free-vector/modern-menu-restaurant-grill_1361-1526.jpg" height = "300"></img>
        <br>
        <p>In your requested location, these are available options:</p>
        
        <h2>Let us make your order!</h2>
            <p> The several options on the SJSU campus are:</p>
            
            <h3 id = "pandaexpress">Panda Express</h3>
            <h4 id = "appetizers">Appetizer</h4>
            <input type = "checkbox" name = "order" value = "appetizer"/> Chicken Egg Roll
            <input type = "checkbox" name = "order" value = "appetizer"/> Veggie Spring Roll (2 pcs)
            <br>
            <input type = "checkbox" name = "order" value = "appetizer"/> Cream Cheese Rangoon
            <input type = "checkbox" name = "order" value = "appetizer"/> Chicken Potstickers
            <br><br>
            <h4 id = "own">Build Your Own</h4>
            <input type = "checkbox" name = "order" value = "build"/> Bowl
            <input type = "checkbox" name = "order" value = "build"/> Plate
            <input type = "checkbox" name = "order" value = "build"/> Bigger Plate
            <br><br>
            <h4 id = "entrees">Entrees</h4>
            <input type = "checkbox" name = "order" value = "entree"/> Orange Chicken
            <input type = "checkbox" name = "order" value = "entree"/> Beijing Beef
            <input type = "checkbox" name = "order" value = "entree"/> Kung Pao Chicken
            <br><br>
            <h4 id = "sides">Sides</h4>
            <input type = "checkbox" name = "order" value = "side"/> White Rice
            <input type = "checkbox" name = "order" value = "side"/> Brown Rice
            <br>
            <input type = "checkbox" name = "order" value = "side"/> Fried Rice
            <input type = "checkbox" name = "order" value = "side"/> Chow Mein
            <br><br>
            <h4 id = "drinks">Beverages</h4>
            <input type = "checkbox" name = "order" value = "side"/> Medium Drink
            <input type = "checkbox" name = "order" value = "side"/> Large Drink
            <br><br>
            <input type = "submit" name = "enter" value = "Enter Order"/>
            
            <h3 id = "subway">Subway</h3>
            <h3 id = "jambajuice">Jamba Juice</h3>
            <h3 id = "steaknshake">Steak n Shake</h3>
            <h3 id = "tacobell">Taco Bell</h3>
            <h3 id = "starbucks">Starbucks</h3>
            
    </body>
    </div>
</html>
{% endblock %}
