{% extends "base.html" %}
{% block content %}
<html>
    <center>
        <div id = "white">
    <title> Select Order </title>
    <link href = "css/style.css" type = "text/css" rel = "stylesheet"/>
    <p style = "font-family:sans-serif, helvetica; font-style: italic;">

    <body>
        <h2>Categories of Food</h2>
        
        <img src = "https://image.freepik.com/free-vector/modern-menu-restaurant-grill_1361-1526.jpg" height = "300"></img>
        <br>
        <p>In your requested location, these are available options:</p>
        
        <h2>Let us make your order!</h2>
            <p> The several options on the SJSU campus are:</p>
            
            <h3 id = "pandaexpress">Panda Express</h3>
            <h4 id = "appetizers">Appetizer</h4>
            <form method = "post" action = "mobile_payment">
            <input type = "checkbox" name = "order" value = "appetizer"/> Chicken Egg Roll
            <input type = "checkbox" name = "order" value = "appetizer"/> Veggie Spring Roll (2 pcs)
            <br>
            <input type = "checkbox" name = "order" value = "appetizer"/> Cream Cheese Rangoon
            <input type = "checkbox" name = "order" value = "appetizer"/> Chicken Potstickers
            <br><br>
            <h4 id = "own">Build Your Own</h4>
            <input type = "checkbox" name = "order" value = "build"/> Bowl
            <input type = "checkbox" name = "order" value = "build"/> Plate
            <input type = "checkbox" name = "order" value = "build"/> Bigger Plate
            <br><br>
            <h4 id = "entrees">Entrees</h4>
            <input type = "checkbox" name = "order" value = "entree"/> Orange Chicken
            <input type = "checkbox" name = "order" value = "entree"/> Beijing Beef
            <input type = "checkbox" name = "order" value = "entree"/> Kung Pao Chicken
            <br><br>
            <h4 id = "sides">Sides</h4>
            <input type = "checkbox" name = "order" value = "side"/> White Rice
            <input type = "checkbox" name = "order" value = "side"/> Brown Rice
            <br>
            <input type = "checkbox" name = "order" value = "side"/> Fried Rice
            <input type = "checkbox" name = "order" value = "side"/> Chow Mein
            <br><br>
            <h4 id = "drinks">Beverages</h4>
            <input type = "checkbox" name = "order" value = "side"/> Medium Drink
            <input type = "checkbox" name = "order" value = "side"/> Large Drink
            <br><br>
            <input type = "submit" name = "enter" value = "Enter Order"/> </form>
            
            <h3 id = "subway">Subway</h3>
            <h4 id = "six">6 Inch Sub</h4>
            <form method = "post" action = "mobile_payment">
            <input type = "checkbox" name = "order" value = "sub"/> Black Forest Ham
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> BLT
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> Chicken & Bacon Ranch Melt
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> Italian BMT
            <br><br>
            <h4 id = "twelve">12 Inch Sub</h4>
            <input type = "checkbox" name = "order" value = "sub"/> Black Forest Ham
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> BLT
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> Chicken & Bacon Ranch Melt
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> Italian BMT
            <br><br>
            <h4 id = "wraps">Signature Wraps</h4>
            <input type = "checkbox" name = "order" value = "wrap"/> Chipotle Southwest Steak
            <br>
            <input type = "checkbox" name = "order" value = "wrap"/> Savoy Rotisserie Style
            <br>
            <input type = "checkbox" name = "order" value = "wrap"/> Turkey Bacon Guac
            <br><br>
            <h4 id = "drinks">Beverages</h4>
            <input type = "checkbox" name = "order" value = "side"/> Medium Drink
            <input type = "checkbox" name = "order" value = "side"/> Large Drink
            <br><br>
            <input type = "submit" name = "enter" value = "Enter Order"/> </form>
            
            <h3 id = "jambajuice">Jamba Juice</h3>
            <h4 id = "smoothies">Smoothies</h4>
            <form method = "post" action = "mobile_payment">
            <input type = "checkbox" name = "order" value = "smoothie"/> Aloha Pineapple
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> Mango-A-Go-Go
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> Strawberry Surf
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> Strawberries Wild
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> White Gummi
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> Orange Dream Machine
            <br>
            <input type = "checkbox" name = "order" value = "sub"/> Carribean Passion
            <br><br>
            <h4 id = "bowls">Bowls and Oatmeal</h4>
            <input type = "checkbox" name = "order" value = "bowl"/>Acai Primo
            <br>
            <input type = "checkbox" name = "order" value = "bowl"/>Chunky Strawberry
            <br>
            <input type = "checkbox" name = "order" value = "bowl"/>Island Pitaya
            <br>
            <input type = "checkbox" name = "order" value = "bowl"/>Nutty Almong Butter
            <br>
            <input type = "checkbox" name = "order" value = "bowl"/>Vanilla Blue Sky
            <br><br>
            <input type = "submit" name = "enter" value = "Enter Order"/> </form>
            
            <h3 id = "steaknshake">Steak n Shake</h3>
            <h4 id = "burgers">Steakburgers</h4>
                       <form method = "post" action = "mobile_payment">
                       <input type = "checkbox" name = "order" value = "burger"/> Double Cheese Steakburger
                       <br>
                       <input type = "checkbox" name = "order" value = "burger"/> Single Cheese Steakburger
                       <br>
                       <input type = "checkbox" name = "order" value = "burger"/> Prime Steakburger
                       <br><br>
                       <h4 id = "specials">Others</h4>
                       <form method = "post" action = "mobile_payment">
                       <input type = "checkbox" name = "order" value = "special"/> Grilled Chicken Sandwich
                       <br>
                       <input type = "checkbox" name = "order" value = "special"/> Chicken Fingers
                       <br>
                       <input type = "checkbox" name = "order" value = "special"/> Frisco Melt
                       <br><br>
                       <h4 id = "sides">Sides</h4>
                       <form method = "post" action = "mobile_payment">
                       <input type = "checkbox" name = "order" value = "side"/> Cheese Fries
                       <br>
                       <input type = "checkbox" name = "order" value = "special"/> Chili Cheese Fries
                       <br>
                       <input type = "checkbox" name = "order" value = "special"/> Bacon Cheese Fries
                       <br><br>
                       <h4 id = "drinks">Beverages</h4>
                                  <input type = "checkbox" name = "order" value = "side"/> Medium Drink
                                  <input type = "checkbox" name = "order" value = "side"/> Large Drink
                                  <br><br>
                                  <input type = "submit" name = "enter" value = "Enter Order"/> </form>
                      
            <h3 id = "tacobell">Taco Bell</h3>
            <h4 id = "party">Party Packs</h4>
            <form method = "post" action = "mobile_payment">
            <input type = "checkbox" name = "order" value = "packs"/> Taco Party Pack
            <br>
            <input type = "checkbox" name = "order" value = "packs"/> Variety Taco Party Pack
            <br>
            <input type = "checkbox" name = "order" value = "packs"/> Taco + Burrito Party Pack
            <br><br>
            <h4 id = "burritos">Burritos</h4>
            <input type = "checkbox" name = "order" value = "burrito"/> Burrito Supreme
            <br>
            <input type = "checkbox" name = "order" value = "burrito"/> Shredded Chicken Burrito
            <br><br>
            <h4 id = "special">Specialties</h4>
            <input type = "checkbox" name = "order" value = "special"/> Crunchwrap Supreme
            <br>
            <input type = "checkbox" name = "order" value = "special"/> Quesadilla
            <br>
            <input type = "checkbox" name = "order" value = "special"/> Nachos Supreme
            <br><br>
            <h4 id = "special">Tacos</h4>
            <input type = "checkbox" name = "order" value = "special"/> Tacos Supreme
            <br>
            <input type = "checkbox" name = "order" value = "special"/> Cheesy Gordita Crunch
            <br>
            <input type = "checkbox" name = "order" value = "special"/> Calupa Supreme
            <br><br>
            <h4 id = "drinks">Beverages</h4>
            <input type = "checkbox" name = "order" value = "side"/> Medium Drink
            <input type = "checkbox" name = "order" value = "side"/> Large Drink
            <br><br>
            <input type = "submit" name = "enter" value = "Enter Order"/> </form>
            
            <h3 id = "starbucks">Starbucks</h3>
            <h4 id = "espresso">Hot Espresso</h4>
            <form method = "post" action = "mobile_payment">
            <input type = "checkbox" name = "order" value = "coffee"/> Caffe Americano
            <br>
            <input type = "checkbox" name = "order" value = "coffee"/> Caffe Mocha
            <br>
            <input type = "checkbox" name = "order" value = "coffee"/> Cappuccino
            <br>
            <input type = "checkbox" name = "order" value = "coffee"/> Caffe Latte
            <br>
            <input type = "checkbox" name = "order" value = "coffee"/> Caramel Macchiato
            <br><br>
            <h4 id = "fraps">Frappuccino</h4>
            <input type = "checkbox" name = "order" value = "frap"/> Caramel Frappuccino
            <br>
            <input type = "checkbox" name = "order" value = "frap"/> Coffee Frappuccino
            <br>
            <input type = "checkbox" name = "order" value = "frap"/> Java Chip Frappuccino
            <br>
            <input type = "checkbox" name = "order" value = "frap"/> Mocha Frappuccino
            <br><br>
            <h4 id = "refreshers">Refreshers</h4>
            <input type = "checkbox" name = "order" value = "refresher"/> Strawberry Acai
            <br>
            <input type = "checkbox" name = "order" value = "refresher"/> Very Berry Hibiscus
            <br>
            <input type = "checkbox" name = "order" value = "refresher"/> Mango Dragonfruit
            <br><br>
            <h4 id = "foods">Bakery</h4>
            <input type = "checkbox" name = "order" value = "food"/> Butter Croissant
            <br>
            <input type = "checkbox" name = "order" value = "food"/> Cheese Danish
            <br>
            <input type = "checkbox" name = "order" value = "food"/> Almond Croissant
            <br><br>
            <input type = "submit" name = "enter" value = "Enter Order"/> </form>
    </body>
    </div>
</html>
{% endblock %}
