<html>
    <center>
    <title> Settings - LocalFoodie </title>
    <p style = "font-family:sans-serif, helvetica; font-style: italic;">
    <body>
        <h1><font color = "#3b5998">Welcome, {{username}}! <br>
            Finalize your settings.</font></h1>
        <img src = "https://cdn0.iconfinder.com/data/icons/travel-isometric/512/sim1555-512.png" height = "400"></img>
        <br>
        <p>Here, you can make/fix/finalize your settings.<br>
        <p>Depending on your settings, we can find restaurants near you!</p>
    <br>
    
    <form action = "/categories" method = "post">
    <label for = "location">Location:</label>
    <input type = "text" name = "location" required = "required"></br>
    <br>
    <label for = "radius">Radius of Distance (in miles):</label>
    <input type = "number" name = "radius" required = "required"></br>
    <br><br>
    <input type = "checkbox" name = "save" value = "save"> Save Settings? <br><br>

        <input type = "submit" value = "Continue">
    </form>
</p>
</body>
</center>
</html>
